/*Ini CSS*/
body {
    font-family: arial, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main-header {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5px;
    }

    .logo {
        margin-bottom: 5px;
    }
}

.logo {
    border: 1px solid;
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/100);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav > a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.photo-banner {
    height: 600px;
    /*background-image: url(https://picsum.photos/100);*/
    background-size: cover;
    background-position: top;
}

.article{
    border: 1px solid;
    height: 200px;
    width: 200px;
    /*background-image: ;*/
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

main > section {
    padding-bottom: 20px;
}

.message-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.message-container > form {
    padding: 20px;
    width: 100%;
}

.hasil {
    border: 1px solid;
    padding: 20px;
    width: 100%;
}

footer > div {
    text-align: center;
    font-family: cursive;
    font-size: small;
}